@page
@model ForgotPasswordConfirmation
@{
    Layout = "~/Pages/Shared/_LayoutUser.cshtml";
    ViewData["Title"] = "Forgot password confirmation";
}
<div class="row">
    <div class="col-md-8"  style=" padding-top: 10%; padding-bottom: 159px;">
        <h1>@ViewData["Title"]</h1>
        <p>
            Please check your email to reset your password.
        </p>
    </div>
</div>