@page
@model TrendyShops.Pages.Admin.SubCategory.CreateModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Pages/Shared/_Layout2.cshtml";
}

<h2>Create</h2>

<hr />
<div class="row">
    <div class="col-md-6">
        <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">Sub Category</h3>
              </div>
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Sub_Category.Name" class="control-label"></label>
                <input asp-for="Sub_Category.Name" class="form-control" />
                <span asp-validation-for="Sub_Category.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sub_Category.CategoryId" class="control-label"></label>
                <select asp-for="Sub_Category.CategoryId" class ="form-control" asp-items="ViewBag.CategoryId">
                    <option disabled selected>-Select Category</option>
                </select>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="Sub_Category.Status" /> @Html.DisplayNameFor(model => model.Sub_Category.Status)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
     </div>
       
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
