@page
@model TrendyShops.Pages.Admin.ContactUs.EditModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Pages/Shared/_Layout2.cshtml";
}

<h2>Edit</h2>

<h4>ContactUs</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ContactUs.Id" />
            <div class="form-group">
                <label asp-for="ContactUs.Name" class="control-label"></label>
                <input asp-for="ContactUs.Name" class="form-control" />
                <span asp-validation-for="ContactUs.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ContactUs.Email" class="control-label"></label>
                <input asp-for="ContactUs.Email" class="form-control" />
                <span asp-validation-for="ContactUs.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ContactUs.Message" class="control-label"></label>
                <input asp-for="ContactUs.Message" class="form-control" />
                <span asp-validation-for="ContactUs.Message" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ContactUs.Phone_number" class="control-label"></label>
                <input asp-for="ContactUs.Phone_number" class="form-control" />
                <span asp-validation-for="ContactUs.Phone_number" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="ContactUs.Status" /> @Html.DisplayNameFor(model => model.ContactUs.Status)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="ContactUs.Created_Date" class="control-label"></label>
                <input asp-for="ContactUs.Created_Date" class="form-control" />
                <span asp-validation-for="ContactUs.Created_Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
