@page
@model TrendyShops.Pages.Admin.User.IndexModel


@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout2.cshtml";
}

<h2>Index</h2>

<section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            
            <!-- /.card -->

            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Users</h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <table id="example1" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>
                                   Name
                                </th>
                                <th>
                                    Email
                                </th>
                               <th>
                                   Action
                               </th>
                            </tr>
                        </thead>
                        <tbody>
                    @foreach (var item in Model.model) {
                            <tr>
                                <td>
                                     @item.UserName
                                </td>
                                <td>
                                    @item.Email
                                </td>
                                <td>                                    
                                    <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                                    <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                                </td>
                                
                            </tr>
                    }
                        </tbody>
                    </table>
                </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </section>
    <!-- /.content -->