@page
@model TrendyShops.Pages.Customer.UserAddress.EditModel
@using System.Security.Claims
@using Microsoft.AspNetCore.Components.Authorization
@using TrendyShops.Utility
@using Microsoft.AspNetCore.Identity
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Pages/Shared/_LayoutShopList.cshtml";
    string userId = User.FindFirst(ClaimTypes.NameIdentifier).Value;
}


<ul class="breadcrumb">
   <li><a asp-page="/Index">Home</a></li>
   <li><a href="">User</a></li>
   <li class="active">User Address</li>
</ul>
<h4>Edit User Address</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="User_Address.Id" />
            <input asp-for="User_Address.UserId" hidden value="@userId" />
           @*@foreach (var item in Model.ShoppingCarts){
             <div class="form-group" hidden>
                    <label asp-for="User_Address.UserId" class="control-label" hidden>UserId</label>
                  <input asp-for="User_Address.UserId" type="text" class="form-control" id="UserId" hidden value="@item.ApplicationUserId">
            </div>
                                    }*@
            
            <div class="form-group">
                <label asp-for="User_Address.Address" class="control-label"></label>
                <input asp-for="User_Address.Address" class="form-control" />
                <span asp-validation-for="User_Address.Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User_Address.PostalCode" class="control-label"></label>
                <input asp-for="User_Address.PostalCode" class="form-control" />
                <span asp-validation-for="User_Address.PostalCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User_Address.ExtraDetailes" class="control-label"></label>
                <input asp-for="User_Address.ExtraDetailes" class="form-control" />
                <span asp-validation-for="User_Address.ExtraDetailes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="User_Address.Status" /> @Html.DisplayNameFor(model => model.User_Address.Status)
                    </label>
                </div>
            </div>
             <div class="form-group" hidden>
                    <label asp-for="User_Address.Created_Date" class="control-label" hidden>Created_Date</label>
                  <input asp-for="User_Address.Created_Date" type="text" class="form-control" id="Created_Date" hidden value="@DateTime.Now.ToString()">
            </div>
          
            <div class="form-group">
                <button  type="submit" class="btn btn-default" >Create</button>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
