@page
@model TrendyShops.Pages.Admin.Products.EditModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Pages/Shared/_Layout2.cshtml";
}

<h2>Edit</h2>

<h4>Product</h4>
<hr />
 
<div class="row">
     
    @*<div class="col-md-4">*@
        <form method="post" enctype="multipart/form-data">
           
            <div class="border p-3 mt-4">
                 
                <div class="row pb-2">
                    <div class="col-9">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
                        <input type="hidden" asp-for="Product.Id" />
                        <div class="form-group">
                            <label asp-for="Product.Name" class="control-label"></label>
                            <input asp-for="Product.Name" class="form-control" />
                            <span asp-validation-for="Product.Name" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Product.Short_description" class="control-label"></label>
                            <textarea id="summernote" asp-for="Product.Short_description" class="form-control"></textarea>
                            <span asp-validation-for="Product.Short_description" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Product.Long_description" class="control-label"></label>
                            <textarea id="summernote2" asp-for="Product.Long_description" class="form-control"></textarea>
                            <span asp-validation-for="Product.Long_description" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Product.LastPrice" class="control-label"></label>
                            <input asp-for="Product.LastPrice" class="form-control" />
                            <span asp-validation-for="Product.LastPrice" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Product.CurrnetPrice" class="control-label"></label>
                            <input asp-for="Product.CurrnetPrice" class="form-control" />
                            <span asp-validation-for="Product.CurrnetPrice" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Product.Image" class="control-label"></label>
                            <input asp-for="Product.Image" class="form-control" type="file"/>
                            <span asp-validation-for="Product.Image" class="text-danger"></span>
                        </div>
                        
                        <div class="form-group">
                            <label asp-for="Product.ViewCounter" class="control-label"></label>
                            <input asp-for="Product.ViewCounter" class="form-control" />
                            <span asp-validation-for="Product.ViewCounter" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <div class="checkbox">
                                <label>
                                    <input asp-for="Product.Availability" /> @Html.DisplayNameFor(model => model.Product.Availability)
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="checkbox">
                                <label>
                                    <input asp-for="Product.Status" /> @Html.DisplayNameFor(model => model.Product.Status)
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="Product.Created_Date" class="control-label"></label>
                            <input asp-for="Product.Created_Date" class="form-control" />
                            <span asp-validation-for="Product.Created_Date" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Save" class="btn btn-default" />
                        </div>
                    </div>
                 <div class="col-3"><img src="@Model.Product.Image" style="    width: -webkit-fill-available;"/>
                    </div>
                </div>
             
            </div>
        </form>
    @*</div>*@
    </div>


<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    
}
